# how automate delete txt
# import os
# dir = os.listdir(".")
# remove anything that is not year from list
# for year in dirs:
#     for day in os.listdir(f"{year}/."):
#             os.remove(f"{year}/{day}/input.txt")

# It did not occur to me that this also ignores
# all the notes.txt that (I think I remember having)
# WOW, thats all gone now....
*.txt

.DS_Store

# crystal
*.dwarf
*.out

# haskell
*.hi
*.o

# elm 
elm-stuff
elm.json
